/* From Uiverse.io by SouravBandyopadhyay */ 
.card-title {
    color: #262626;
    font-size: 1.5em;
    line-height: normal;
    font-weight: 700;
    margin-bottom: 0.5em;
  }
  
  .small-desc {
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5em;
    color: #452c2c;
  }
  
  .small-desc {
    font-size: 1em;
  }
  
  .go-corner {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 2em;
    height: 2em;
    overflow: hidden;
    top: 0;
    right: 0;
    background: linear-gradient(135deg, #6293c8, #384c6c);
    border-radius: 0 4px 0 32px;
  }
  
  .go-arrow {
    margin-top: -4px;
    margin-right: -4px;
    color: white;
    font-family: courier, sans;
  }
  
  .card {
    display: block;
    position: relative;
    max-width: 300px;
    max-height: 320px;
    background-color: #f2f8f9;
    border-radius: 10px;
    padding: 2em 1.2em;
    margin: 12px;
    text-decoration: none;
    z-index: 0;
    overflow: hidden;
    background: linear-gradient(to bottom, #c3e6ec, #a7d1d9);
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .card:before {
    content: '';
    position: absolute;
    z-index: -1;
    top: -16px;
    right: -16px;
    background: linear-gradient(135deg, #364a60, #384c6c);
    height: 32px;
    width: 32px;
    border-radius: 32px;
    transform: scale(1);
    transform-origin: 50% 50%;
    transition: transform 0.35s ease-out;
  }
  
  .card:hover:before {
    transform: scale(28);
  }
  
  .card:hover .small-desc {
    transition: all 0.5s ease-out;
    color: rgba(255, 255, 255, 0.8);
  }
  
  .card:hover .card-title {
    transition: all 0.5s ease-out;
    color: #ffffff;
  }
  

  /*parte 2, efeito 2*/


  /* From Uiverse.io by pablofernz */ 
.foodCard {
    height: 220px;
    width: 250px;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    position: relative;
    outline: 2px solid rgb(48, 48, 48);
    user-select: none;
    box-shadow:
      rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
      rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  }
  
  .Discount {
    position: absolute;
    left: 0;
    font-size: 15px;
    padding: 5px 10px 5px 10px;
    font-weight: 600;
    color: rgb(189, 189, 189);
    background-color: rgb(46, 46, 46);
    border-radius: 15px 0px 15px 0px;
    width: auto;
    height: auto;
    font-style: italic;
  }
  
  .Like {
    border: none;
    align-items: center;
    justify-content: center;
    display: flex;
    position: absolute;
    right: 0%;
    font-size: 15px;
    padding: 8px;
    color: rgb(210, 210, 210);
    background-color: rgb(48, 48, 48);
    border-radius: 0px 20px 0px 15px;
    width: 40px;
    height: 35px;
    cursor: pointer;
  }
  
  .Like > svg {
    transition: all 0.3s ease;
  }
  
  .Like:hover > svg {
    fill: rgb(190, 0, 0);
  }
  
  .Like:focus {
    outline: none;
  }
  
  .imageContainer {
    padding: 5px;
    height: 60%;
    width: 100%;
    padding-top: 35px;
    border-radius: 15px;
    display: flex;
    align-content: center;
    justify-content: center;
  }
  
  .imageContainer > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 15px;
  }
  
  .foodTitle {
    color: rgb(32, 32, 32);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 200px;
    font-weight: 800;
    padding-top: 5px;
  }
  
  .priceAndButton {
    position: absolute;
    bottom: 0;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 15px;
  }
  
  .Price {
    font-weight: 600;
    padding-left: 5px;
    color: rgb(0, 0, 0);
    font-variant-numeric: tabular-nums;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .button {
    padding: 0px 15px;
    height: 25px;
    border: none;
    background-color: rgb(116, 219, 160);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-weight: 600;
    transition: all 0.4s ease;
    opacity: 100%;
    font-size: 15px;
  }
  
  .button:hover {
    box-shadow: rgb(116, 219, 160) 0px 0px 15px;
  }
  
  .button:active {
    transform: scale(0.95);
  }
  
  /*parte 3*/


  /* From Uiverse.io by gharsh11032000 */ 
.card2 {
    position: relative;
    width: 190px;
    height: 254px;
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 12px;
    gap: 12px;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .card2::before {
    content: '';
    position: absolute;
    inset: 0;
    left: -5px;
    margin: auto;
    width: 200px;
    height: 264px;
    border-radius: 10px;
    background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100% );
    z-index: -10;
    pointer-events: none;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .card2::after {
    content: "";
    z-index: -1;
    position: absolute;
    inset: 0;
    background: linear-gradient(-45deg, #fc00ff 0%, #00dbde 100% );
    transform: translate3d(0, 0, 0) scale(0.95);
    filter: blur(20px);
  }
  
  .heading2 {
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 700;
  }
  
  .card2 p:not(.heading2) {
    font-size: 14px;
  }
  
  .card2 p:last-child {
    color: #e81cff;
    font-weight: 600;
  }
  
  .card2:hover::after {
    filter: blur(30px);
  }
  
  .card2:hover::before {
    transform: rotate(-90deg) scaleX(1.34) scaleY(0.77);
  }
  
  