*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Parte superior do site*/

.menu-superior{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #1a1a1a; 
    color: #ffffff;
    align-items: end;
}

.menu-esquerda{
    display: flex;
    flex-direction: row;
    align-items: end;
}

.logo img{
    width: 300px;
    height: 150px;
}

/* Menus */

.nav-bar-esquerda ul, .nav-bar-direita ul{
    display: flex;
    gap: 20px;
    list-style: none;
    padding: 8px;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
    color: #ffae42;
}

.nav-bar-esquerda ul a{
    margin-left: 30px;
    color: #ffae42;
    text-decoration: none;
    transition: 0.3s;
}

.nav-bar-esquerda ul a:hover{
    color: #ff7b00;
}

.nav-bar-esquerda{
    margin-left: 20px;
}

.nav-bar-direita{
    margin-right: 50px;
}

/*Introdução ao site*/

.introducao{
    background: linear-gradient(to bottom, #1a1a1a, #2a1a00);
}

.introducao-texto h1{
    color: #ff7b00;
    font-size: 32px;
    margin-left: 25px;
    font-weight: bold;
}

.introducao-texto h2{
    color: #ffffff;
    font-weight: bold;
    font-size: 60px;
    margin-left: 25px;
}

.introducao button{
    margin-left: 25px;
}

.add-carrinho{
    background: #ff7b00;
    color: #ffffff;
    width: 150px;
    font-size: 16px;
    padding: 15px;
    border: none;
    margin-top: 40px;
    font-weight: bold;
    border-radius: 6px;
    transition: 0.3s;
}

.add-carrinho:hover{
    background: #ffa64d;
}

/*Oferta de pizzas com animação lateral e flip*/

.pizza-flip-rolagem-lateral{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #1a1a1a;
}

.pizza-flip-rolagem-lateral h2{
    color: #ff7b00;
    font-size: 32px;
    margin-top: 24px;
}

.pizza-flip-rolagem-lateral h1{
    color: #ffffff;
    font-size: 60px;
    margin-top: 8px;
}

.container-flip-main{
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-content: center;
    margin-top: 20px;
    background: #262626;
    border-radius: 8px;
    padding: 10px;
}

.container-pizza-flip{
    background: transparent;
    display: flex;
    justify-content: center;
    gap: 25px;
}

.card-pizza-flip{
    display: flex;
    height: 250px;
    width: 180px;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background: #fffaf2;
    border-radius: 10px;
    box-shadow: 0 0 8px rgba(255, 165, 0, 0.3);
    transition: 0.3s;
}

.card-pizza-flip:hover{
    transform: translateY(-5px);
    box-shadow: 0 0 12px rgba(255, 140, 0, 0.6);
}

.card-pizza-flip img{
    width: 150px;
    height: 150px;
    margin-top: 15%;
}

.card-pizza-flip h1{
    font-size:24px;
    font-weight: bold;
    color: #1a1a1a;
}

.card-pizza-flip p{
    color: #ff7b00;
    font-weight: bold;
    font-size: 18px;
}

.pizza-flip-texto{
    display: flex;
    align-items: center;
    flex-direction: column;
}

/*Pizza ofertas*/

.pizza-ofertas{
    display: flex;
    justify-content: space-around;
    margin-top: 150px;
    background: #1a1a1a;
    padding: 15px;
}

.container-oferta{
    display: flex;
    width: 32%;
    height: 250px;
    flex-direction: column;
    justify-content: end;
    background-image: linear-gradient(to bottom, #000000, #331a00, #663300, #ff7b00);
    border-radius: 8px;
    overflow: hidden;
    transition: 0.3s;
}

.container-oferta:hover{
    transform: scale(1.05);
}

.container-oferta img, .container-oferta button{
    margin-left: 5%;
}

.container-oferta button{
    margin-bottom: 7%;
    background: #ff7b00;
    color: white;
    font-weight: bold;
    padding: 10px 15px;
    border: none;
    border-radius: 6px;
}

.container-oferta button:hover{
    background: #ffa64d;
}

.oferta-texto{
    margin-left: 5%;
}

.oferta-texto h1{
    color: #ffffff;
    font-weight: bold;
    font-size: 36px;
}

.oferta-texto p{
    color: #ffae42;
    font-weight: bold;
    font-size: 24px;
}

/*Segunda Oferta*/

.segunda-oferta{
    background: #000000;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 150px;
    height: 350px;
}

.segunda-oferta h1{
    color: #ff7b00;
    font-weight: bold;
    font-size: 48px;
    margin-top: 50px;
    margin-left: 25px;
}

.segunda-oferta p{
    color: #ffffff;
    font-weight: bold;
    font-size: 48px;
    margin-top: 25px;
    margin-left: 25px;
}

.segunda-oferta button{
    margin-left: 25px;
    background: #ff7b00;
    color: white;
    padding: 12px 18px;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    transition: 0.3s;
}

.segunda-oferta button:hover{
    background: #ffa64d;
}

.segunda-oferta img{
    margin-left: 25px;
}

/*Cardápio*/

.cardapio{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;

}

.cardapio-texto-sup{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-weight: bold;
}

.cardapio-texto-sup h2{
    color: #ff7b00;
    font-weight: bold;
    font-size: 28px;
}

.cardapio-texto-sup h1{
    color: #1a1a1a;
    font-size: 48px;
}

.cardapio-icones{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    width: 50%;
}

.cardapio-icones img{
    width: 50px;
    height: 50px;
}



.cardapio-icones-child{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    padding: 5px;
    border-radius: 8px;
    box-shadow: 0 0 6px rgba(255, 140, 0, 0.3);
}

.cardapio-icones-child img{
    margin-bottom: 7px;
}

.cardapio-icones-child p{
    font-size: 18px;
    font-weight: bold;
    color: #ffae42;
}


.cardapio-container-pizzas{
    width: 60%;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    padding: 25px;
}

.cardapio-container-child{
    flex: 1 1 calc(50% - 20px);
    display: flex;
    flex-direction: row;

}

.cardapio-container-child img{
    width: 100px;
    height: 100px;
}

.cardapio-container-child-texto{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.cardapio-container-child-texto h1{
    margin-bottom: 30px;
    margin-left: 10px;
    color: black;
    font-weight: bold;
    font-size: 24px;
}

.cardapio-container-child p{
    font-weight: bold;
    color: black;
    font-size: 18px;
    font-weight: bold;
}

/*Anuncio animacao lateral infinita*/

.anuncio-lateral-infinito{
    color: red;
    font-size: 72px;
    margin-top: 50px;
}


/*Terceira oferta*/

.terceira-oferta{
    background-image: linear-gradient(to bottom, #ff7b00, #000000);
    height: 400px;
    display: flex;
    justify-content: space-between;
}

.container-terceira-oferta{
    background: green;
    height: 350px;
    width: 450px;
    padding: 15px;
    margin-right: 7%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.terceira-oferta-texto h1{
    color: orange;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    font-size: 18px;
    margin-bottom: 10px;
}

.terceira-oferta-texto p{
    color: white;
    font-weight: bold;
    font-size: 42px;
    margin-bottom: 25px;
    text-align: center;
}

.tempo-desconto{
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    justify-content: space-around;
}

.card-terceira-oferta{
    background: orange;
    height: 80px;
    width: 80px;
    color: white;
    padding: 5px;
    text-transform: uppercase;
    font-weight: bold;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}