@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
}

/* BODY */
body {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    background-color: rgba(249, 214, 176, 0.7); /* bege/translúcido */
}

header section{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 200px;
    height: 200px;
    display: inline;
}

.menu {
    display: flex;
    column-gap: 48px;
    list-style: none;
    padding: 20px 0;
    justify-content: flex-end;
    align-items: center;
}

.menu_link{
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
    position: relative;
}

.menu_link::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;

    width: 60%;
    height: 1px;
    background: #c94c3d;

    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.4s;
}

.menu_link:hover::after{
    transform: scaleX(1);
    transform-origin: left;
    transition: transform 0.4s; 
}

.menu ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 0;
    padding: 0;
}


.menu a{
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    margin: 0 20px;
    transition: .3s;
}

.menu a:hover, .menu a.active{
    color: #c94c3d;
    text-transform: uppercase;
}

/* INTRODUÇÃO */
.introducao {
    text-align: center;
    padding: 30px 10px;
    color: #c94c3d;
    font-size: 16px;
    margin: 25px 0 30px;
    line-height: 1.2;
}

.introducao h2{
    font-size: 45px;
    line-height: 1.2;
    background: linear-gradient(#59ffff, #1952ab);
    -webkit-background-clip: text;
    color: transparent;
}

.paragrafo_introducao{
    width: 50%;
    margin: auto;
    font-size: 16px;
    color: #c94c3d
}

.introducao img {
    max-width: 90%;
    height: auto;
    margin-top: 15px;
}

.lista_icones{
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 5px;
}

.icone{
    width: 70px;
    height: 70px;
    border-radius: 25%;
}



.cardapio {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 colunas */
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
}

.cardapio div {
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    background-color: #fffbe6;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 10px;
    height: 150px; /* mesma altura da imagem */
    overflow: hidden;
}

.cardapio div img.icone {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 15px;
}

.cardapio div .texto-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    overflow: hidden;
}

.cardapio div .texto-card h2 {
    margin: 0 0 5px 0;
    font-size: 16px;
    white-space: nowrap; /* não quebra linha */
    overflow: hidden;
    text-overflow: ellipsis; /* corta se nome for longo */
}

.cardapio div .texto-card p {
    margin: 0;
    font-size: 14px;
    line-height: 1.2em;
    overflow: hidden;
    display: block;
    flex-grow: 1; /* ocupa o restante da altura do card sem ultrapassar a imagem */
}

/* FORMULÁRIO */
.menu_dados {
    background-color: #e74c3c; /* vermelho pizza */
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.pizza_form{
    width: 700px;
    height: 500px;
    border: 1px solid #c94c3d; /* vermelho tomate */
}

.menu_dados h2 {
    color: #fffbe6; /* creme */
    margin-bottom: 15px;
}

.menu_dados form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    border: 1px solid #c94c3d; /* vermelho tomate */
    padding: 20px;
}

.menu_dados label {
    font-weight: bold;
    color: #fffbe6; /* creme */
}

.menu_dados input,
.menu_dados select,
.menu_dados option,
.menu_dados textarea {
    background-color: rgba(249, 214, 176, 0.7); /* bege/translúcido */
    color: #5a1f0b; /* marrom escuro */
    border: none;
    border-radius: 25px;
    padding: 5px;
    width: 400px;
    font-size: 16px;
    padding: 10px 22px 10px 10px;
    border: none;
    outline: none;
}

.menu_dados input::placeholder{
    color: white;
}

.menu_dados textarea{
    height: 160px;
}

.menu_dados button {
    border: 2px solid #42c1e8;
    padding: 10px 28px;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    letter-spacing: 1px;
    width: 400px;
    background: transparent;
    color: #42c1e8;
    transition: .5s;
}


.menu_dados button:hover{
    background: #42c1e8;
    color: #01003f;
}


footer {
    background-color: #f9d6b0; /* laranja/bege */
    padding: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

footer div {
    margin: 10px;
    flex-direction: row;
    padding: 10px;
    width: 100%;
}

footer img {
    max-width: 100%;
    height: auto;
}


footer a {
    display: block;
    color: #c94c3d; /* vermelho tomate */
    text-decoration: none;
    margin-bottom: 5px;
}
