@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
}

/* BODY */
body {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    background-color: #fff;
}

hr {
    width: 100%;
    max-width: 1200px; 
    border: none;
    border-top: 2px solid #DB3623;
    margin: 30px auto; /* centraliza */
}

header section{
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo{
    width: 150px;
    height: 150px;
    display: inline;
}

.menu {
    display: flex;
    column-gap: 48px;
    list-style: none;
    padding: 20px 0;
    justify-content: flex-end;
    align-items: center;
}

.menu_link{
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
    position: relative;
}

.menu_link::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;

    width: 60%;
    height: 1px;
    background: #DB3623;

    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.4s;
}

.menu_link:hover::after{
    transform: scaleX(1);
    transform-origin: left;
    transition: transform 0.4s; 
}

.menu ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 0;
    padding: 0;
}


.menu a{
    font-size: 18px;
    color: #260801;
    font-weight: 500;
    margin: 0 20px;
    transition: .3s;
}

.menu a:hover, .menu a.active{
    color: #DB3623;
    text-transform: uppercase;
}

/* INTRODUÇÃO */
.introducao {
    text-align: center;
    padding: 30px 10px;
    color: #DB3623;
    font-size: 16px;
    margin: 25px 0 30px;
    line-height: 1.2;
}

.introducao h2{
    font-size: 45px;
    line-height: 1.2;
    background: linear-gradient(#DB3623, #da2410);
    -webkit-background-clip: text;
    color: transparent;
    margin-bottom: 64px;
}

.paragrafo_introducao{
    width: 60%;
    margin: auto;
    font-size: 24px;
    color: #DB3623
}

.introducao img {
    max-width: 90%;
    height: auto;
    margin-top: 15px;
}

.lista_icones{
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 5px;
    flex-wrap: wrap;
    margin: 12px 0px;
}

.icone{
    width: 42.5px;
    height: 42.5px;
    border-radius: 25%;
}

.icone_inf{
    width: 42.5px;
    height: 42.5px;
    margin-right: 12px;
    border-radius: 25%;
}


.linha-cardapio {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 32px auto;
    font-size: 32px;
    font-weight: bold;
    line-height: 1.33;
    position: relative;
    max-width: 1200px; 
    width: 100%; 
    
}

.linha-cardapio p{
    color: #DB3623;
}

.linha-cardapio::before,
.linha-cardapio::after {
    content: "";
    flex: 1; /* agora cresce junto com o container */
    height: 2px;
    border-top: 2px solid #DB3623;
}

.linha-cardapio::before {
    margin-right: 16px;
}

.linha-cardapio::after {
    margin-left: 16px;
}

.linha-cardapio span{
    display: flex;
    align-items: center;
}


.cardapio {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
}

.container_pizza  {
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    padding: 10px;
    height: 150px; /* mesma altura da imagem */
    overflow: hidden;
    
}

.container_pizza img {
    width: 120px;
    height: 120px;
    object-fit: contain; /* Não corta a pizza */
    background: #fff; /* Evita borda cinza */
    margin-right: 15px;
    border-radius: 8px;
}

.cardapio div .texto-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
}

.cardapio div .texto-card h2 {
    margin: 6px;
    font-size: 16px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    white-space: nowrap; /* não quebra linha */
    overflow: hidden;
    text-overflow: ellipsis; /* corta se nome for longo */
    color: #DB3623;
}

.cardapio div .texto-card p {
    margin: 6px;
    opacity: 0.65;
    font-size: 16px;
    line-height: 1.38;
    margin-top: 2px;
    overflow: hidden;
    display: block;
    flex-grow: 1; /* ocupa o restante da altura do card sem ultrapassar a imagem */
}

.div_grid_pizzas{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container_pizza{
    width: calc(50% - 48px);
    display: flex;
    margin: 16px 24px;
    border: 1px solid #DB3623;
}


.pizza_form{
    width: 500px;
    height: 500px;
}


/* FORMULÁRIO */
.menu_dados {
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;     
}

.menu_dados h2 {
    color: #fffbe6;
    margin-bottom: 15px;
}

.menu_dados form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    border: 1px solid #DB3623;
    padding: 20px;
    border-radius: 10px;
    background: transparent;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    padding: 30px 40px;
}

.menu_dados label {
    font-weight: bold;
    color: #fffbe6;
}

.menu_dados input,
.menu_dados select,
.menu_dados option,
.menu_dados textarea {
    background-color: rgba(244, 233, 216, 0.9);
    color: #260801;
    border: none;
    border-radius: 25px;
    padding: 5px;
    width: 400px;
    font-size: 16px;
    padding: 10px 22px 10px 10px;
    border: 2px solid rgba(255, 255, 255, .2);
    outline: none;
}

.menu_dados input::placeholder{
    color: #260801;
}

.menu_dados textarea{
    height: 160px;
}

.menu_dados button {
    border: 2px solid #DB3623;
    padding: 10px 28px;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    letter-spacing: 1px;
    width: 400px;
    background: transparent;
    color: #DB3623;
    transition: .5s;
}


.menu_dados button:hover{
    background: #DB3623;
    color: #fffbe6;
}


footer {
    background-color: #fff;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}

footer div {
    margin: 10px;
    padding: 10px;
    width: 100%;
    font-size: 22px;
    color: #7E8C11;
}

footer p, h4{
    margin-bottom: 24px;
}

footer h4{
    color: #7E8C11;
}

footer img {
    max-width: 100%;
    height: auto;
}


footer a {
    display: block;
    color: #7E8C11;
    text-decoration: none;
    margin-bottom: 5px;
}

.bloco-final{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
}


